/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 207;
  --sat: 90%;
  --lig: 72%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 65%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change_theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.change_theme:hover {
  color: var(--first-color);
}

/*========== Variables Light theme ==========*/
body.light-theme {
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);

  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: white;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

.light-theme .nav_menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.5);
}

.light-theme .skills_content,
.light-theme .contact_card {
  box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, 0.15);
}
/* .light-theme .experience_list {
  transition: 0.1s;
} */
.light-theme .experience_list:hover {
  box-shadow: 0 2px 8px hsl(var(--second-hue), 48%, 8%, 0.15);
  /* border: 1px solid var(--first-color); */
  /* background-color: none; */
}

.light-theme .footer_decription,
.light-theme .footer_social-link,
.light-theme .button {
  color: var(--title-color);
}

.light-theme .footer_social-link:hover {
  color: white;
  background: var(--title-color);
}

.light-theme .contact_button {
  font-weight: var(--font-medium);
}

.light-theme .button:hover {
  color: var(--body-color);
}
.light-theme .button {
  box-shadow: none;
}

.light-theme .button-transparent {
  box-shadow: 0;
}

.light-theme .active-link,
.light-theme .home_photo-border {
  box-shadow: none;
}

.light-theme .button-transparent::before {
  opacity: 0;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav_logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.nav_logo:hover {
  color: var(--first-color-alt);
}

.nav_menu {
  position: fixed;
  /* width: 65px; */
  width: 100%;
  /* height: max-content; */
  /* margin: auto 0;
  inset: 0; */
  bottom: 0;
  left: 0;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  /* border-radius: 0 2rem 2rem 0; */
  border-radius: 1rem 1rem 0 0;
  /* padding: 2.25rem 1rem; */
  padding: 1rem 2.2rem;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.nav_list {
  display: grid;
  /* row-gap: 2rem; */
  /* column-gap: 2rem; */
  justify-content: space-between;
  display: flex;
}

.nav_link {
  color: var(--text-color);
  font-size: 1.15rem;
  padding: 0.45rem;
  border-radius: 5rem;
  display: flex;
  cursor: pointer;
}

/* Active link */
.active-link {
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );

  box-shadow: 0 0 0.5em 0 var(--first-color);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.5);
}

/*=============== HOME ===============*/
.home_container {
  position: relative;
  row-gap: 4rem;
  padding-top: 2rem;
}

.home_data {
  text-align: center;
}

.home_greeting,
.home_position {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_greeting {
  display: block;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}

.home_name {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 0.2rem;
}

.home_position {
  color: var(--text-color);
  margin-bottom: 2.25rem;
}

.home_profile-img {
  width: 190px;
  max-width: 95%;
}

.home_photo {
  width: 190px;
  height: 290px;
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 0.05),
    hsla(var(--first-hue), var(--sat), var(--lig), 1)
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10rem 10rem 10rem 10rem;
  overflow: hidden;
}

.home_photo-border {
  justify-self: center;
  border: 2px solid var(--first-color);

  border-radius: 10rem 10rem 10rem 10rem;
  padding: 0.3rem;
  box-shadow: 0 0 0.5em 0 var(--first-color-alt);
}

.home_button {
  justify-content: center;
  align-items: center;
}
/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: var(--body-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: 0.4s;
  box-shadow: inset 0 0 0.5em 0 var(--first-color),
    0 0 0.5em 0 var(--first-color);
}

.button-transparent {
  background-color: transparent;
  color: var(--first-color);
  border: 2px solid var(--first-color);
  box-shadow: inset 0 0 0.5em 0 var(--first-color),
    0 0 0.5em 0 var(--first-color);
  position: relative;
}

.button-transparent::before {
  content: "";
  position: absolute;
  background: var(--first-color);
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(8em) rotatex(40deg) scale(0.7, 0.15);
  filter: blur(2em);
  /* opacity: 0.7; */
}

.button:hover {
  color: var(--body-color);
  background-color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about_container {
  row-gap: 2.5rem;
}

.about_data {
  text-align: center;
  transition: 0.4s;
}

.about_description {
  text-align: justify;
  margin: 0 1rem 2rem 1rem;
}
/*=============== ABOUT ===============*/
.skills_container {
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills_content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills_box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills_group {
  display: grid;
  align-content: flex-start;
  row-gap: 1.5rem;
}

.skills_data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bxs-check-circle {
  color: var(--first-color);
  font-size: 1rem;
  font-weight: var(--font-medium);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills_level {
  font-size: var(--tiny-font-size);
}

/*=============== EXPERIENCE ===============*/
.experience_container {
  row-gap: 1.2rem;
  padding-top: 5.5rem;
  padding-bottom: 2rem;
}
.experience_data {
  width: 80%;
  height: auto;
  position: relative;
  justify-self: center;
  align-self: center;
}

.experience_items {
  list-style: none;
  margin-left: 1rem;
}
.experience_items::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--first-color),
    var(--first-color-alt)
  );
  left: -14px;
}

.experience_list {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  /* background-color: var(--container-color); */
  box-shadow: 1px 1p 25px #0000008a;
  border-radius: 1rem;
  margin-bottom: 4.5rem;
  float: none;
  clear: none;
  position: relative;
  z-index: 99;
  transition: 0.4s;
}

.experience_list:hover {
  background-color: var(--container-color);
}

.experience_list:nth-child(odd) {
  float: left;
  clear: right;
}

.experience_list:nth-child(even) {
  float: right;
  clear: left;
}

.experience_list:last-child {
  margin-bottom: 0;
}

.exp_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.exp_description {
  font-size: var(--small-font-size);
  margin: 0.75rem 0;
  color: var(--text-color);
}

.exp_link {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  display: flex;
  width: fit-content;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.exp_link-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.exp_link:hover .exp_link-icon {
  transform: translateX(0.25rem);
}

.exp_date {
  position: absolute;
  top: -28px;
  left: 15px;
  padding: 0.12rem 1rem;
  background-color: var(--first-color);
  /* border: 1px solid var(--first-color); */
  border-radius: 0.5rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--body-color);
  display: grid;
  place-items: center;
}

.exp_circle {
  width: 25px;
  height: 25px;
  background-color: #a8d5ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -29px;
  opacity: 1;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0.5em 0 #a8d5ff, 0 0 0.5em 0 #a8d5ff;
}

.exp_circle::after {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: #379eff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.7em 0 #379eff;
}

/*=============== SERVICES ===============*/

/* Services modal */

/*Active modal*/

/*=============== WORK ===============*/

/* Active item work*/

/*=============== TESTIMONIAL ===============*/

/* Swiper class */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/
.footer_container {
  padding: 3rem 0 8rem;
  transition: 0.4s;
  /* height: 100%; */
}

.footer {
  background-color: var(--first-color);
  /* height: 100vh; */
}

.footer_title {
  color: var(--body-color);
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.footer_decription {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--h3-font-size);
}

.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer_social-link {
  color: white;
  background-color: var(--body-color);
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: inline-flex;
  transition: 0.4s;
}

.footer_social-link:hover {
  background-color: white;
  color: var(--body-color);
  border-radius: 50%;
  transform: scale(1.2);
}

.contact_info {
  display: grid;
  gap: 1rem;
}

.contact_card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.contact_card-title,
.contact_card-data {
  font-size: var(--small-font-size);
}

.contact_card-title {
  font-weight: var(--font-medium);
}

.contact_card-data {
  margin-bottom: 0.75rem;
  display: block;
}

.contact_button {
  display: flex;
  color: var(--first-color);
  font-size: var(--small-font-size);
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.contact_button:hover .contact_button-icon {
  transform: translateX(0.25rem);
}

.contact_button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

/*=============== SCROLL BAR ===============*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  display: none;
  font-size: var(--smaller-font-size);
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  /* position: absolute; */
  z-index: 100;
  justify-self: center;
  /* display: inline-grid; */

  bottom: -312%;
  transition: 0.4s;
}

/* Popup arrow */

/* Toggle this class - hide and show the popup */
.show {
  display: inline-grid;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.3rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  /* background-color: hsl(var(--second-hue), 8%, 26%); */
  background-color: var(--first-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav_menu {
    padding: 0.7rem 1.5rem;
  }

  .nav_link {
    font-size: 1rem;
  }

  .home_name {
    font-size: var(--h2-font-size);
  }

  .home_photo {
    width: 160px;
    height: 250px;
  }

  .skills_box {
    column-gap: 0.5rem;
  }
  .skills_title,
  .exp_title {
    font-size: var(--small-font-size);
  }
  .skills_name {
    font-size: var(--smaller-font-size);
  }
}

.exp_circle {
  width: 21px;
  height: 21px;
}

.exp_circle::after {
  width: 11px;
  height: 11px;
}

.exp_description {
  font-size: var(--smaller-font-size);
}

.footer_title {
  font-size: var(--h2-font-size);
}

.footer_decription {
  font-size: var(--small-font-size);
}

/* .contact_card-data {
  font-size: var(--small-font-size);
} */

/* For medium devices */
@media screen and (min-width: 576px) {
  .about_description {
    padding: 0 4rem;
  }

  .skills_container {
    justify-content: center;
  }

  .skills_content {
    padding: 2rem 3.5rem;
  }

  .experience_items {
    margin: 0;
  }

  .experience_items::after {
    left: auto;
  }
  .experience_data {
    width: 70%;
  }
  .experience_list {
    width: 50%;
  }

  .experience_list:nth-child(odd) {
    text-align: right;
  }

  .experience_list:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
  }

  .experience_list:nth-child(odd) .exp_date {
    right: 20px;
    left: auto;
  }

  .experience_list:nth-child(odd) .exp_circle {
    right: -31px;
    transform: translate(50%, -50%);
    left: auto;
  }

  .experience_list:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
  }

  .exp_link:nth-child(odd) {
    float: right;
    clear: left;
  }

  .footer_container {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .footer_decription {
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 767px) {
  .contact_info {
    grid-template-columns: repeat(2, 50%);
  }

  .contact_card-data {
    word-wrap: break-word;
  }

  .contact_info {
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  /* #footer {
    height: 100vh;
  }

  .footer {
    height: 100%;
  } */

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6.5rem 0 1rem;
  }

  .section_title {
    margin-bottom: 3.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 0.5rem);
  }

  .home_photo {
    width: 225px;
    height: 340px;
  }

  .home_profile-img {
    width: 240px;
  }

  .nav_menu {
    position: fixed;
    width: 70px;
    /* width: 100%; */
    height: max-content;
    margin: auto 0;
    inset: 0;
    /* bottom: 0;
    left: 0; */
    background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
    border-radius: 0 1.5rem 1.5rem 0;
    /* border-radius: 1rem 1rem 0 0; */
    padding: 2.5rem 1rem;
    /* padding: 1rem 2.2rem; */
    backdrop-filter: blur(10px);
    transition: 0.4s;
  }

  .nav_list {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: space-between;
    /* display: flex; */
  }

  .skills_content {
    padding: 3rem 4.5rem;
  }
  .skills_title {
    margin-bottom: 2rem;
  }
  .skills_box {
    column-gap: 4rem;
  }

  .footer_container {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 4.5rem;
  }

  .contact_info {
    width: 70%;
    justify-content: flex;
  }

  .experience_list:nth-child(odd) {
    text-align: right;
  }
  .exp_link:nth-child(odd) {
    float: right;
    clear: left;
  }
}
